<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>Hey you! Welcome to my website. It uses data from mapbox.com and darksky.net. If you have suggestions about this site, you can contact me.</p>
      <p><a href = "mailto: info@semih.dev">Contact Me!</a></p>
      
      <img class="portrait" src="/img/robot.png">
    </div>
    {{>footer}}
  </body>
</html>